A4/statemachine/statemachine.json
{
    "StartAt": "ChoiceState",
    "States": {
      "ChoiceState": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.action",
            "StringEquals": "sha256",
            "Next": "InvokeSha256Lambda"
          },
          {
            "Variable": "$.action",
            "StringEquals": "md5",
            "Next": "InvokeMd5Lambda"
          },
          {
            "Variable": "$.action",
            "StringEquals": "bcrypt",
            "Next": "InvokeBcryptLambda"
          }
        ],
        "Default": "DefaultState"
      },
      "InvokeSha256Lambda": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:524240663239:function:sha256",
        "End": true
      },
      "InvokeMd5Lambda": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:524240663239:function:md5",
        "End": true
      },
      "InvokeBcryptLambda": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:524240663239:function:bcrypt",
        "End": true
      },
      "DefaultState": {
        "Type": "Fail",
        "Error": "DefaultStateError",
        "Cause": "Invalid action value. Supported actions: sha256, md5, bcrypt"
      }
    }
  }